
<div *ngIf="task2">
    <h2><span>Task 2</span> {{task2.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>App Id</span></dt>
        <dd>
            <span>{{task2.appId}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{task2.name}}</span>
        </dd>
        <dt><span>Desce</span></dt>
        <dd>
            <span>{{task2.desce}}</span>
        </dd>
        <dt><span>Wx Appid</span></dt>
        <dd>
            <span>{{task2.wxAppid}}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
            <span>{{task2.title}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{task2.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task-2-my-suffix/'+ task2.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
